/* Global Formatting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Cormorant", serif;
    width: 100vw;
}
/* Global Formatting End */

/* Navbar Styling Start */

nav {
    position: fixed;
    display: flex;
    justify-content: space-around;
}

.logo-sm {
    display: none;
    padding: 10px 20px;
    width: 125px;
    margin-left: 15px;
}

.logo-sm img {
    height: 100px;
}
.logo-big {
    height: 350px;
}

.links ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    margin: 20px auto;
    margin-left: 200px;
}
.links a {
    text-decoration: none;
    color: black;
    padding: 0 20px;
}

.search-lang {
    display: flex;
}
nav {
    z-index: 100;
    transition: all 0.2s eas-in;
}

nav::before {
    content: " ";
    position: absolute;
    height: 70px;
    width: 100vw;
    background-color: #fff;
    top: 0;
    left: 400px;
    z-index: -2;

    transform: translateX(-3%) skewX(-30deg);
    transition: transform 0.3s ease-in;
}

.mobile-nav-toggle {
    display: none;
}
.nav-box-bg {
    display: none;
}
.extra-style::before {
    transform: translateX(-27%);
    /* left: 0; */
}

img {
    max-width: 100%;
}
video {
    max-width: 100%;
}
.container {
    padding: 2% 10% 1% 10%;
}

.info-container h2,
h3 {
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.image-left {
    margin-right: 10px;
}
.img-right {
    margin-left: 10px;
}

.img {
    overflow: hidden;
    display: inline-block;
}
.img img {
    transition: all 1s ease;
    margin-bottom: 20px;
}
.img img:hover {
    transform: scale(1.1);
}

.img h3 {
    padding-top: 20px;
}

.sr-only {
    display: none;
}

.nav-box-bg {
    content: " ";
    position: absolute;
    height: 60px;
    width: 400px;
    top: -23px;
    left: -30px;
    background-color: red;
    transform: skewX(-30deg);
    opacity: 0.5;
}

/* Navbar and Responsvie Nav Ends Here */

/* Slider Styling */
.slideshow-container {
    padding: 1% 10%;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    padding: 5px;
    font-size: 20px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

/* slider code ends here */

/* Company Page Code */
.comp-img {
    position: relative;
}

.company-info {
    position: absolute;

    bottom: 0;
    left: 60%;
}

.company-info p {
    background-color: red;
    padding: 20px;
    color: #ffff;
    font-family: "Nunito Sans", sans-serif;
}

.comp-info-1 {
    display: flex;
}
.comp-info-text {
    width: 95%;
}
.comp-info-text p {
    font-size: 1.6em;
    font-family: "Nunito Sans", sans-serif;
}
.comp-image {
    margin-right: 10px;
    overflow: hidden;
}

.comp-image-2 {
    margin-right: 20px;
    width: 400%;
}

.comp-info-text-2 p {
    font-size: 1.6em;
    font-family: "Nunito Sans", sans-serif;
}

.cmp-img-fullwidth {
    padding: 2rem 0;
}

.info-container-fullwidth {
    display: flex;
    align-items: center;
    background-color: #3d4045;
    color: #fff;
}
.info-container-fullwidth img {
    width: 50%;
}

.info-container-fullwidth p {
    padding: 20px;
    font-size: 1.6em;
    font-family: "Nunito Sans", sans-serif;
}

.text-flex {
    display: flex;
}
.text-flex p {
    padding: 10px;
    font-size: 1.6em;
    font-family: "Nunito Sans", sans-serif;
}
/* Media Queries */
/* responsive menu */
@media (max-width: 1000px) {
    .links a {
        padding: 0 10px;
        font-size: 14px;
    }
    .container {
        padding: 2%;
    }
    .comp-info-1 {
        flex-direction: column;
    }

    .info-container-fullwidth {
        flex-direction: column;
    }

    .info-container-fullwidth img {
        width: 100%;
    }
    .comp-image-2 {
        width: 100%;
    }

    .text-flex {
        flex-direction: column;
    }
}

@media (max-width: 805px) {
    /* Navigation Menu */
    .links {
        position: fixed;
        inset: 0 0 0 0;
        background-color: rgb(255, 255, 255);
        z-index: 999;

        transform: translateY(-100%);
        transition: transform 0.3s ease-in;
    }
    .links[data-visible="true"] {
        transform: translateY(8%);
    }
    .links ul {
        flex-direction: column;
        align-items: flex-start;
        margin: 10px;
    }
    .links a {
        font-size: 24px;
        /* padding: 30px 10px; */
    }

    .links li {
        padding: 30px 10px;
    }

    nav::before {
        left: 0;
        transform: skewX(0);
    }
    .mobile-nav-toggle {
        display: block;
        position: absolute;
        background: url(../assets/icon-hamburger.svg);
        background-repeat: no-repeat;
        width: 2rem;
        aspect-ratio: 1;
        border: 0;
        top: 1.8rem;
        left: 93vw;
        z-index: 1000;
    }

    .mobile-nav-toggle[area-expanded="true"] {
        background: url(../assets/icon-close.svg);
        background-repeat: no-repeat;
    }
    .extra-style::before {
        transform: translateX(0);
        /* left: 0; */
    }

    .flex-container {
        flex-direction: column;
    }

    /* Company Page Image */
    .company-info {
        position: static;
    }
}
